:root {
    --main-color: #000;
    --sub-color: #000;
    --w-color: #fff;
    --b-color: #000;
    --main-text-color: #000;
    --sub-text-color: #000;

    --fw-Medium-500: 500;
    --fw-SemiBold-600: 600;
    --fw-Bold-700: 700;
    --fw-ExtraBold-800: 800;

    --transition-3: ease 0.3s;
    --transition-5: ease 0.5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    direction: rtl;
}

body,
input,
input::placeholder,
button,
select {
    font-family: "Cairo", sans-serif;
    outline: none;
    border: none;
}

@media (max-width: 786px) {
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    a {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 12px;
    }
}

@media (max-width: 350px) {
    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 10px;
    }
}

ul {
    list-style: none;
}

img,
a {
    display: inline-block;
}

.container {
    padding-inline: 15px;
    margin-inline: auto;
}

@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 991px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1199px) {
    .container {
        width: 1150px;
    }
}

/* Start Form */
.body_sign {
    height: 100vh;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_sign .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 390px;
    border: 1px solid;
    border-radius: 15px;
    height: 450px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.body_sign .container .form {
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    z-index: 2;
    width: 720px;
    left: 20px;
}

.signIn,
.signUp {
    flex: 1;
    width: 350px;
}

.signIn h2,
.signUp h2 {
    margin-bottom: 10px;
    color: var(--w-color);
}

.signIn p,
.signUp p {
    margin-bottom: 20px;
    color: var(--w-color);
}

.signIn span,
.signUp span {
    text-decoration: underline;
    cursor: pointer;
    color: var(--b-color);
}

.signIn input,
.signUp input {
    padding: 10px;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 10px;
    background-color: rgba(15, 15, 15, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    text-align: center;
    color: var(--w-color);
}

.signIn input::placeholder,
.signUp input::placeholder {
    color: var(--w-color);
}

.signIn button,
.signUp button {
    background-color: rgba(15, 15, 15, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 10px;
    width: 50%;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;
    color: var(--w-color);
}
/* End Form */

/* Start Home */
.home {
    height: 100vh;
    background-image: url(../images/Robot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.date {
    text-align: center;
}
.date h3:not(:last-child) {
    padding: 5px;
    border-bottom: 1px solid;
    direction: ltr;
}
.date h3:last-child {
    padding-top: 5px;
}
.home .container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.home .container {
    width: 350px;
    background-color: rgba(15, 15, 15, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 20px;
    border-radius: 15px;
}

.home .container .form-time input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
}

.home .container .form-time select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 100px;
}

.home .container .form-time select option {
    margin: 10px;
    font-size: 16px;
}

.home .container .form-time .btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 100px;
    font-size: 18px;
    cursor: pointer;
}

.showTime {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(15, 15, 15, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 10px;
    width: 75%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    transition: var(--transition-5);
}

.close-timer {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
}

.title:not(:last-child) {
    border-bottom: 1px solid var(--w-color);
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
}

.showTime p {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
}

.showTime span {
    color: var(--w-color);
    font-size: 20px;
    font-weight: var(--fw-Bold-700);
    text-align: center;
}

/* End Home */

/* Start Table */
.table {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f6f6f6;
}

.table .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.table .container .box {
    background-color: #ff253a;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.table .container .box h2 {
    margin-bottom: 20px;
}

.table .container .box p {
    background-color: #f6f6f6;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.table .container .box button {
    background-color: transparent;
}

.table .container .box button svg {
    padding: 10px;
    border-radius: 3px;
    background-color: #f6f6f6;
    cursor: pointer;
}

/* End Table */